[Desktop Entry]
Name=Mobirise
Exec=/opt/Mobirise/mobirise %U
Terminal=false
Type=Application
Icon=mobirise
StartupWMClass=Mobirise
Comment=Create awesome mobile-friendly websites! No coding and free.
Categories=Development;
